<!-- meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- title -->
<title>Leaflet Map</title>

<!-- styles -->
<link href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" rel="stylesheet" />
<link href="./stylesheets/map.css" rel="stylesheet"/>
<link href="./stylesheets/menu.css" rel="stylesheet"/>
<link href="./stylesheets/button-theme.css" rel="stylesheet"/>
<link href="./stylesheets/message.css" rel="stylesheet"/>

