<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <% include ../partials/menu %>

  <main>
    <div id="map"></div>
  </main>

  <% include ../partials/map %>
</body>

</html>
