<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <% include ../partials/menu %>

  <main>
    <% include ../partials/button-theme %>
  </main>

  <% include ../partials/message %>

</body>

</html>